apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: alloul-api-hpa
  namespace: alloul-one
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: alloul-api
  minReplicas: 3
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
